html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
	overflow: hidden;
}


/*----------------------page1-------------------*/
#page1 {
	background-color: rgba(0,0,0,0.9);
	width: 100%	;
	height: 100%;
	position: absolute;
	top:0px;
	color: white;
	font-family: arial
}

.center-align {
	text-align: center;
}

.header {
	font-size: 34px;
	margin-top: 10px;
	font-weight: bold;
	letter-spacing: 1px;
}

.sub-title {
	font-size: 22px;
	margin-top: 10px;
	font-weight: normal;
}

.locate-button {
	background-color: rgba(169,169,169,0.5);
	font-size: 24px;
	font-weight: bold;
	margin-top: 50px;
	border: 0;
	border-radius: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 60px;
}

.location-range {
	margin-top: 30px;
}

.location-range input {
	font-size: 16px;
	width: 27px;
	text-align: center;
	background: transparent;
	color: white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}


#location-near-you {
	background: blue;
	color: black;
	width: 200px;
	height:	200px;
}


#location_near_you {
	visibility: hidden;
	text-align: center;
	color: white;
	margin-left: 42%;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 200px;
	text-align: center;
	font-weight: bold;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(169,169,169,0.3);
}
/*----------------------page2-------------------*/

#page2 {

	background-color: rgba(208,203,195,0.8);
	width: 0;
	height: 100%;
	position: absolute;
	top:0px;
	visibility: hidden;
	/*background-image: url("2_1_list.png");*/
	background-size: 100%;
	/*display: none;*/
}


#pull_to_filter {
	background-color: #B8B2B2;
	color: white;
	width: 15px;
	height:	200px;
	margin-top: 200px;
	float: left;
	top:0;
	position: absolute;
}


.center-circle {
	background-color: rgba(208,203,195,0.6);
}

.circle-div {
   border-radius: 50%;
   display: inline-block;
   margin-right: 20px;
   height: 200px;
   width: 200px;
   z-index: 100;
   background: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
}

.top-left {
	float: left;
	border-bottom-right-radius: 10px;
	width: 50%;
	height: 50%;
	background: white;
}

.main-portions{
	padding: 0!important;
	padding-top: 20px;
}

.hospital-list{
	padding-right: 0!important;
	margin-right: 0!important;
	right: 0!important;
	height: auto;
}

.list-hospital-name{
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0!important;
  cursor: pointer;
}

.left-hospital-details{
	width:71%;
	margin-left: 15px;
}

.preferred-tag{
	color: green;
	font-weight: bold;
}

.single-hospital-details{
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

.compare-and-book-buttons{
	border-radius: 0 !important;
	background: transparent;
	color: #333;
	border: 1px solid #777 !important;
}

.compare-button{
	border-radius: 0 !important;
	background: transparent !important;
	color: #333 !important;
	border: 1px solid #777 !important;
	margin-right: 20px;

}


.profile{
	background: lightgrey;
	position: fixed !important;
	top:0;
	right: 0;
	height: 100%;
}

.hospital-info-panel{
	border:0 !important;
	border-radius: 0;
	background: transparent !important;
	margin-top: 10px;
}

.hospital-info-panel-heading{
	border-radius: 0 !important;
	background: rgba(0, 0, 0, 0.25) !important;
	color:white !important;
	padding: 5px 15px !important;
}

.hospital-info-panel-body{
	background: transparent !important;
	border: 0 !important
}

.hospital-info-panel-collapse{
	background: transparent !important;
	border-radius: 0 !important;
}

.hospital-info-panel-title{
	font-size: 14px !important;

}

.hospital-info-table>tbody>tr>td{
	border-top: 0px !important;
	border-bottom: 1px solid grey !important;
	padding: 3px 0!important;
}

#review-big-screen{
	width: 100%;
	height: 340px;
}

.review-portion{
	padding: 2% 5%;
	height: 600px;
	overflow-y:scroll;
}

.review-thumbnails{
	height: 70px;
	width: 100px;
	margin-right: 5px;
}

.review-thumbnails-table{
	overflow-x: scroll;
	margin-top: 10px;
}

#radiuskm{
	display: none;
	color: black;
	position: absolute;
	bottom: 20px;
	left: 620px;
	margin-top: 10px;
	width: 100px;
	height: 50px;
}
.human-figure-table{
	padding-left: 5px !important;

}

.subscribe{
	margin-top: 180px;
	margin-right: 30px;
}

.email-subscribe{
	width: 300px !important;
}

.tabs-toggles{
	width:239px;
	text-align:center;
	vertical-align:middle;
	padding: 1px !important;
}

.tabs{
	border: 1px solid grey !important;
	padding-top: 3px;
	padding: 0!important;
	text-align: center;
}

.tabs-selection{
	padding:0 50px;
	margin-bottom: 20px;
}

.tabs-col{
	padding:3px !important;
}

.slider-review-portion{
	margin:0px 10%;
	background: rgba(255, 255, 255, 0.7);
	height: 280px;
	padding: 20px;
}
.other-reviews{
	margin-top: 20px
}

.coustom-hr{
	margin-top: 10px !important;
	border-top: 1px solid #999 !important;
}

.slider-spacing{
	height:30px;
}

#popup{
	display: hidden !important;
	width: 100px;
	height: 50px;
	position: absolute;
	z-index: 4;
}

.compare-list-page{
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;
}

.compare-page-heading{
	float: left;
	margin-top: 0;
	margin-bottom: 30px;
}

.search-icon{
	text-align: left;
}

.search-box-style{
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid grey;
	border-radius: 0;
	box-shadow: inset 0 0 0 !important;
}

.body-parts-table{
	margin: 30px 80px;
}

.search-condition-portion{
	padding: 0 50px;
}

.filter-heading{
	text-align: center;
}

.enter-procedure-td{
	padding-top:50px !important;
}

.radius-distance-display{
	width: 50px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid grey;
	text-align: center;
}

/*.more-review-question{
	margin-top: 80px !important;
}*/


.more-spacing{
	margin-top: 50px !important;
}

.review-right-side{
	text-align: center;
}

.add-review-button{
	top:0px;
	left:50%;
	position:absolute;
	background:black;
	color:white;
	padding:10px;
	cursor:pointer;
}

.close-review-button{
	top:0px;
	left:50%;
	visibility:hidden;
	position:absolute;
	background:black;
	color:white;
	padding:10px;
	cursor: pointer;
}

.news-feed-carousel{
	height: 150px;
	/*background: grey;*/
	margin-top: 10px;
	width: 100%;
	/*border-top: 1px solid white;*/
	/*border-bottom: 1px solid white;*/
}

.compare-fill{
	background-color: #636363;
	color: #ffffff;
}

.compare-fill:focus{
	background-color: #636363;
	color: #ffffff;
}